{% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'bootstrap/css/bootstrap.css' %}"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css"
/>
<html lang="en">
  <head>
    <title>{% block title %}Plan. Shop. Eat.{% endblock %}</title>
  </head>

  <body>
    <!-- <div id="navbar">
      {% block navbar %}
      <a href="/recipe_app/recipes">Recipes</a> |
      <a href="/meal_plan_app/meal_plans">Meal Plans</a> |
      <a href="/shopping_list_app/">Shopping Lists</a> |
      <a href="/custom_user_app/profile/{{user.id}}/">User Profile</a>

      {% endblock %}
    </div> -->
    <nav class="navbar">
      <div class="container-fluid">
        <nav class="nav">
          <a
            class="nav-link active"
            aria-current="page"
            href="/recipe_app/recipes"
            >Recipes</a
          >
          <a class="nav-link" href="/meal_plan_app/meal_plans">Meal Plans</a>
          <a class="nav-link" href="/shopping_list_app/">Shopping Lists</a>
          <a class="nav-link" href="/custom_user_app/profile/{{user.id}}/"
            >User Profile</a
          >
        </nav>
      </div>
    </nav>

    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
