{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'styles/generic_form.css' %}" />
<html lang="en">
  <head>
    <title>{% block title %}Plan. Shop. Eat.{% endblock %}</title>
    <style>
      [class*="col"] {
        padding: 1rem;
        text-align: center;
      }
    </style>
  </head>

  <div class="container-md">
    <div class="row">
      <div class="col-sm">
        <h1 class="title" style="color: rgb(126, 123, 123)">{{form_title}}</h1>
        <form action="" method="post">
          {% csrf_token %} {{ form.as_p }}
          <p class="text-danger">{{error_message}}</p>
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <input class="btn" type="submit" value="submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
</html>
{% endblock %}
