{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="card border-secondary" style="width: 100%; margin-bottom: 10px">
    <div class="card-header">
      <h1 class="title text-secondary text-center">{{recipe.title}}</h1>
    </div>
  </div>
  <div class="card-body text-secondary">
    <div style="display: flex; align-items: center; justify-content: center">
      <a
        style="margin: 2.5px"
        class="btn btn-outline-secondary"
        href="/recipe_app/edit_recipe/{{recipe.id}}/"
      >
        <i class="bi bi-pencil-square"></i>
      </a>
      {% if request.user in recipe.favorited_by.all %}
      <a
        style="margin: 2.5px"
        class="btn btn-outline-secondary"
        href="/recipe_app/removeFavorite/{{recipe.id}}/"
        ><i class="bi bi-bookmark-fill"></i
      ></a>
      {% else %}
      <a
        style="margin: 2.5px"
        class="btn btn-outline-secondary"
        href="/recipe_app/favorite/{{recipe.id}}/"
        ><i class="bi bi-bookmark"></i
      ></a>
      {% endif %}
    </div>
  </div>
  <div class="card border-secondary" style="width: 100%; margin-bottom: 10px">
    <div class="card-header">
      <h2 class="title text-secondary text-center">Description</h2>
    </div>
    <div class="card-body text-secondary">
      <p>{{recipe.recipe_description}}</p>
      <p>Cook time: {{recipe.cook_time}}</p>
      {% if recipe.recipe_image %}
      <img
        style="width: 100px"
        src="{{recipe.recipe_image}}"
        alt="{{recipe.title}}"
      />
      {% endif %}
    </div>
  </div>
  <div class="card border-secondary" style="width: 100%; margin-bottom: 10px">
    <div class="card-header">
      <h2 class="title text-secondary text-center">Ingredients</h2>
    </div>
    <div class="card-body text-secondary">
      {% for ingredient in ingredients %}
      <ul>
        <li>{{ingredient}}</li>
      </ul>
      {% endfor %}
    </div>
  </div>
  <div class="card border-secondary" style="width: 100%; margin-bottom: 10px">
    <div class="card-header">
      <h2 class="title text-secondary text-center">Tools</h2>
    </div>
    <div class="card-body text-secondary">
      {% for tool in recipe.tools.all %}
      <p>{{tool}}</p>
      {% endfor %}
    </div>
  </div>
  <div class="card border-secondary" style="width: 100%; margin-bottom: 10px">
    <div class="card-header">
      <h2 class="title text-secondary text-center">Instructions</h2>
    </div>
    <div class="card-body text-secondary">
      <pre>{{recipe.instructions}}</pre>
      <p>Created at: {{recipe.created_at}}</p>
    </div>
  </div>

  <div class="card border-secondary" style="width: 100%; margin-bottom: 10px">
    <div class="card-header">
      <h2 class="title text-secondary text-center">Reviews</h2>
    </div>
    <div class="card-body text-secondary">
      <div style="display: flex; align-items: center; justify-content: center">
        <a
          class="btn btn-secondary"
          href="/recipe_app/createReview/{{recipe.id}}/"
          >Add Review</a
        >
      </div>
      {% if reviews %} {% for review in reviews %}

      <h3>Created by {{review.created_by}}</h3>
      <p>{{review.rating}}/5</p>
      <p>{{review.body}}</p>
      <p>{{review.created_at}}</p>
      <p>{% endfor %} {% else %}</p>
      <p>This recipe does not have any reviews yet.</p>
      {% endif %}
    </div>
  </div>
  <p class="card-body text-secondary">Created by: {{recipe.created_by}}</p>
</div>
{% endblock %}
