{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1 class="title text-secondary text-center">
    {{displayname}}'s Shopping List
  </h1>
  <div class="card border-secondary" style="width: 100%; margin-bottom: 10px">
    <div class="card-header">
      <h2 class="text-secondary text-center">Tools</h2>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        {% for tool in tools %}
        <li class="text-secondary list-group-item">{{tool}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="card border-secondary" style="width: 100%; margin-bottom: 10px">
    <div class="card-header">
      <h2 class="text-secondary text-center">Ingredients</h2>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        {% for ingredient in ingredients %}
        <li class="text-secondary list-group-item">{{ingredient}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endblock content%}
</div>
