{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="card border-secondary" style="width: 100%; margin-bottom: 10px">
    <div class="card-header">
      <h1 class="title text-secondary text-center">User Profile</h1>
    </div>
  </div>
  <div class="card border-secondary" style="width: 100%; margin-bottom: 10px">
    <div class="card-header">
      <h2 class="text-secondary text-center">Favorite Recipes</h2>
    </div>
    <div class="card-body">
      {% for favorite in user_favortied_recipes %}
      <a
        class="btn btn-outline-secondary"
        href="/recipe_app/recipe/{{favorite.id}}/"
        >{{favorite}}</a
      >
      {% endfor %}
    </div>
  </div>
  <div class="card border-secondary" style="width: 100%; margin-bottom: 10px">
    <div class="card-header">
      <h2 class="text-secondary text-center">User Recipes</h2>
    </div>
    <div class="card-body">
      {% for recipe in users_recipes %}
      <a
        class="btn btn-outline-secondary"
        href="/recipe_app/recipe/{{recipe.id}}/"
        >{{recipe.title}}</a
      >
      {% endfor %}
    </div>
  </div>
  <div class="card border-secondary" style="width: 100%; margin-bottom: 10px">
    <div class="card-header">
      <h2 class="text-secondary text-center">Meal Plans</h2>
    </div>
    <div class="card-body">
      {% for plan in users_meal_plans %}
      <a
        class="btn btn-outline-secondary"
        href="/meal_plan_app/meal_plan/{{plan.id}}/"
        >{{plan}}</a
      >
      {% endfor %}
    </div>
  </div>
  <div class="card border-secondary" style="width: 100%">
    <div class="card-header">
      <h2 class="text-secondary text-center">Shopping Lists</h2>
    </div>
    <div class="card-body">
      {% for plan in users_meal_plans %}
      <a
        class="btn btn-outline-secondary"
        href="/shopping_list_app/shopping_list/{{plan.id}}/"
        >{{plan}}</a
      >
      {% endfor %}
    </div>
  </div>
  {% endblock %}
</div>
